<html>
    <head>
        <title>ALUMNI MANAGEMENT SYSTEM</title>
        <link rel="stylesheet" href="./../static/alumnipage.css">
        <script>
            function connect(){
                document.location.href="/redirect2";
            }
        </script>
    </head>
    <body>
        <div class="page">
        <div class="header">
            <div class="logo">
                <img class="mahe" src="./../static/mahelogo.png">
            </div>
            <div class="text1">
                <marquee class="welcome"> WELCOME TO MAHE ALUMNI CONNECT</marquee>
            </div>
            <div class="about">
                <a class="visit" target="_blank" href="https://www.manipal.edu/mu.html">
                    VISIT US
                </a>
            </div>
        </div>
        <div class="main">
            <img class="college" src="./../static/mit.jpeg">
            <div class="stud">
                WELCOME, ALUMNI! <img class="studp" src="./../static/2620127.png">
                <button class="member" onclick="connect()">
                    ALREADY A MEMBER! CONNECT
                </button>
                </div>
                <div class="detail">
                    <form action="/alumnipage" method="post"> 
                        <div class="row">
                            <div class="column">
                                
                                <div class="form-group">
                                    <label class="name" for="field2">FULL NAME:</label>
                                    <input class="input" type="text" id="field2" name="field2" placeholder="FULL NAME">
                                </div>
                                <div class="form-group1">
                                    <label class="name">GENDER:<br></label>
                                    <input type="radio" id="M" name="field3" value="MALE">
                                <label for="MALE">MALE</label><br>
                                <input type="radio" id="F" name="field3" value="FEMALE">
                                <label for="FEMALE">FEMALE</label><br>
                                <input type="radio" id="O" name="field3" value="OTHERS">
                                <label for="OTHERS">OTHERS</label>
                                </div>
                                <div class="form-group">
                                    <label class="name" for="field4">PHONE NUMBER:</label>
                                    <input class="input" type="number" id="field4" name="field4" placeholder="PHONE NUMBER">
                                </div>
                                <div class="form-group">
                                    <label class="name" for="field5">EMAIL:</label>
                                    <input class="input" type="text" id="field5" name="field5" placeholder="EMAIL">
                                </div>
                            </div>
                            <div class="column">
                                <div class="form-group">
                                    <label class="name" for="field6">LINKEDIN PROFILE:</label>
                                    <input class="input" type="url" id="field6" name="field6" placeholder="LINKEDIN PROFILE">
                                </div>
                                <div class="form-group">
                                    <label class="name" for="field7">WORK ADDRESS:</label>
                                    <input class="input" type="text" id="field7" name="field7" placeholder="WORK ADDRESS">
                                </div>
                                <div class="form-group">
                                    <label class="name" for="field8">POSITION :</label>
                                    <input class="input" type="text" id="field8" name="field8" placeholder="POSITION">
                                </div>
                                <div class="form-group1">
                                    <label class="name" for="field9">OFFER INTERNSHIPS?<br></label>
                                    <input type="radio" id="Y" name="INTERN" value="Y">
                                    <label for="YES">YES</label><br>
                                    <input type="radio" id="N" name="INTERN" value="N">
                                    <label for="NO">NO</label><br>
                                </div>
                                <div class="form-group1">
                                    <label class="name" for="field10">INTERNSHIP TYPE:<br></label>
                                    <input type="radio" id="O" name="TYPE" value="O">
                                    <label for="O">ON SITE</label><br>
                                    <input type="radio" id="W" name="TYPE" value="W">
                                    <label for="W">WORK FROM HOME</label><br>
                                    <input type="radio" id="H" name="TYPE" value="H">
                                    <label for="H">HYBRID</label>
                                </div>
                            </div>
                        </div>
                        <button class="submit" type="submit">Submit</button>
                    </form>
                </div>
        </div>
    </div>
    </body>
    </html>